.container {
    margin: 28px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: max-content;
    border: 2px solid var(--main-color);
    padding: 12px;
    zoom: 1.25;
}


.container-attribute {
    display: flex;
    margin: 6px;
    justify-content: space-between;
    padding-bottom: 3px;
    border-bottom: 1px solid var(--main-color);
    width: 200px;
}

.editForm {
    width: 200px;
    padding: 0 28px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input-group {
    padding-left: 10px;
    margin-bottom: 10px;
    border: none;
    border-bottom: 1px solid gray;
    width: 100%;
    height: 30px;
}

    .input-group:focus {
       outline: none;
    }

    .editForm-btn {
        display: flex;
    }

.btn-group {
    background: var(--main-color);
    color: white;
    margin: 10px;
    border: none;
    cursor: pointer;
    width: 150px;
    height: 30px;
    transition: 0.3s ease;
    margin-left: 6px;
    margin-right: 6px;
}

    .btn-group:hover {
        background: var(--sub-color);
        color: black;
    }