footer {
    border-top: 4px solid var(--main-color);
    display: flex;
    padding: 20px 0;
    justify-content: space-evenly;
    background: #242938;
    color: white;
    position: relative;
    bottom: 0;
}

.footer_box {
    padding: 20px;
}

.footer__heading {
    cursor: default;
}

.footer-list {
    cursor: default;
    padding: 0;
}

.footer-item {
    list-style: none;
    margin: 16px 0;
}


.footer-item__link {
    color: white;
}

.footer-item__link:hover {
    color: var(--main-color);
}