.container h1 {
    font-weight: 400;
    color: var(--main-color);
    cursor: default;
}


.lists-menu {
    margin-left: 20px;
    padding: 0;
    display: flex;
    width: 100%;
    list-style: none;
}

.lists-menu li {
    height: 100%;
}

.list-item {
    position: relative;
    display: block;
    color: white;
    padding: 8px;
}

.lists-menu--Feature {
    position: absolute;
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 12rem;
    visibility: hidden;
    transition: all 0.5s ease-in-out;
    opacity: 0;
}

.lists-menu .lists-menu--Feature .list-item--Feature {
    text-align: center;
    background: var(--main-color);
    border-top: 1px solid white;
    height: 30px;
    border-right: none;
    margin: 0;
}

.list-item--Feature a {
    color: white;
    display: block;
    line-height: 30px;
    width: 100%;
    height: 100%;
    transition: 0.2s;
}

    .list-item--Feature a:hover {
        opacity: 0.4;
    }

    .lists-menu > li:hover > .lists-menu--Feature {
        visibility: visible;
        opacity: 1;
    }

.list-item::after {
    content: '';
    display: block;
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    background: #d9ecc7;
}

.list-item:hover {
    font-weight: 600;
}

.list-item:hover:after {
    width: 100%;
    transition: 0.3s ease;
}

.login .btnLogin {
    border: none;
    padding: 8px 12px;
    border-radius: 50px;
    margin-right: 40px;
    cursor: pointer;
    background: white;
    transition: transform 0.2s ease-in-out;
    width: fit-content;
}

#username {
    margin-right: 10px;
}

.logout {
    display: flex;
    align-items: center;
}

.btnLogin:hover  {
    transform: scale(1.1);
    background: rgb(215, 215, 215);
}