.container {
    margin-top: 32px;
    display: flex;
    justify-content: center;
}

.btnLogin a {
    display: block;
    width: 100%;
    height: 100%;
}

#login_username {
    width: auto;
    text-wrap: nowrap;
    height: 100%;
    font-weight: 500;
    text-transform: uppercase;
    margin-right: 12px;
    color: white;
}

.searchForm {
    width: 50%;
    min-width: 300px
}

.group {
    display: flex;
    position: relative;
}

.input-group {
    width: 100%;
    height: 40px;
    border-radius: 50px;
    font-size: 18px;
    border: 1px solid gray;
    padding-left: 20px;
    line-height: 40px;
    box-sizing: border-box;
}

.input-group:focus {
    outline: none;
}

.btnSearch {
    position: absolute;
    height: 40px;
    font-weight: 600;
    width: max-content;
    border-radius: 40px;
    padding-left: 10px;
    padding-right: 10px;
    right: 0;
    background: none;
    border: 1px solid gray;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

.btnSearch:hover {
    color: white;
    background: var(--main-color);
}


/* --------------- display Search-----------------*/
.displaySearch {
    margin: 50px 250px;
    min-width: 400px;
    display: flex;
    min-height: 200px;
    height: auto;
    flex-direction: column;
}

.displaySearch_word {
    display: flex;
    margin-bottom: 15px;
    align-items: center;
}

    .displaySearch_word label:nth-child(1) {
        font-size: 25px;
        font-weight: 600;
        text-transform: uppercase;
    }

.displaySearch_word--category {
    height: 20px;
    margin-left: 10px;
    border: 1px solid var(--main-color);
    padding: 3px 8px;
    border-radius: 20px;
    font-size: 13px;
    text-align: center;
    align-items: center;
    color: var(--main-color);
    text-transform: uppercase;
}

.displaySearch_phonetics {
    margin-bottom: 10px;
}

    .displaySearch_phonetics i {
        margin-left: 6px;
        color: var(--main-color);
    }

.displaySearch_example--header {
    color: var(--main-color);
    font-size: 20px;
}

    .displaySearch_example--header label {
        font-weight: 600;
        margin-left: 5px;
    }

.displaySearch_example {
    margin-top: 20px;
    background: rgb(248, 246, 254);
    padding: 15px;
}

.displaySearch_example--content {
    display: flex;
    flex-direction: column;
}

    .displaySearch_example--content label {
        margin-top: 10px;
    }

.displaySearch_error {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

    .displaySearch_error div {
        width: 300px;
        height: 300px;
    }

        .displaySearch_error div img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

/*--------Responsive--------------------*/
@media (max-width: 900px) {
    .displaySearch {
        margin: 25px auto;
        max-width: 600px;
    }
}

@media (max-width: 610px) {
    .displaySearch {
        margin: 25px 10px;
    }
}