.container {
    display: flex;
    margin: 40px auto;
    border: 2px solid var(--main-color);
    border-radius: 40px;
    position: relative;
}

h4 {
    color: var(--main-color);
}

#Signup, #Login {
    cursor: pointer;
    color: var(--main-color);
    margin: 10px 0;
    text-decoration: 1px solid var(--main-color);
}
.check {
    display: flex;
    color: red;
    font-size: 10px;
    text-align: center;
    justify-content: center;
}

.login, .signup {
    display: flex;
    position: relative;
    flex-direction: column;
    margin: 20px;
    align-items: center;
}

.login-group {
    padding-left: 10px;
    margin-bottom: 10px;
    border: none;
    border-bottom: 1px solid gray;
    width: 200px;
    height: 30px;
}

.input-group:focus {
    outline: none;
}

.btn-group {
    background: var(--main-color);
    color: white;
    border: 1px solid gray;
    margin-top: 30px;
    cursor: pointer;
    transition: all ease-in-out 0.3s;
}

.btn-group:hover {
    background: #d9ecc7;
    color: black;
}

.vertical-bar {
    width: 80%;
    height: 1px;
    background: var(--main-color);
}


.Message {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background: white;
    border-radius: 40px;
    height: 100%;
    transition: 0.5s all ease;
    z-index: 4;
}

.Message:before {
    position: absolute;
    content: "";
    width: 1px;
    height: 90%;
    background: var(--main-color);
    opacity: 0;
}

.message-login {
    width: 49.9%;
    transform: translateX(100%);
}

.message-signup {
    width: 50%;
    transform: translateX(0);
}

.message-login::before {
    left: 0;
    opacity: 0.8;
}

.message-signup::before {
    left: 100%;
    opacity: 0.8;
}


@media (max-width: 786px) {
    container {
        transform: scale(0.8);
    }
}