.container {
    display: flex;
    margin: 40px auto;
    border: 2px solid var(--main-color);
    border-radius: 40px;
    position: relative;
    font-size: 25px;
}

h4 {
    color: var(--main-color);
}

#Signup a, #Login a{
    font-size: 18px;
    cursor: pointer;
    color: var(--main-color);
    margin: 10px 0;
    text-decoration: 1px solid var(--main-color);
}
.check {
    display: flex;
    color: red;
    font-size: 14px;
    text-align: center;
    justify-content: center;
}

.login, .signup {
    display: flex;
    position: relative;
    flex-direction: column;
    margin: 20px;
    align-items: center;
}

.login-group {
    padding-left: 10px;
    margin: 10px 0;
    border: none;
    border-bottom: 1px solid gray;
    width: 200px;
    height: 30px;
}

.input-group:focus {
    outline: none;
    background: red;
    color: white;
}

.btn-group {
    background: var(--main-color);
    color: white;
    border: 1px solid gray;
    margin-top: 30px;
    cursor: pointer;
    transition: all ease-in-out 0.3s;
}

.btn-group:hover {
    background: var(--sub-color);
    color: black;
}

.vertical-bar {
    width: 80%;
    height: 1px;
    background: var(--main-color);
}


.Message {
    display: flex;
    padding: 0 25px;
    justify-content: center;
    align-items: center;
    background: white;
    border-radius: 40px;
    height: 100%;
    transition: 0.5s all ease;
    z-index: 4;
    position: relative;
}

.Message::before {
    content: "";
    width: 2px;
    display: block;
    background: var(--main-color);
    height: 90%;
    right: 0;
    position: absolute;
}

.message-login::before {
    left: 100%;
    opacity: 0.8;
}

.message-signup::before {
    left: 0;
    opacity: 0.8;
}


@media (max-width: 786px) {
    .container {
        transform: scale(0.8);
    }
}