:root {
    --main-color: #07a3b2;
    --text-size: 40px;
}

body {
    padding: 0;
    margin: 0;
    zoom: 1.25;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button {
    border: none;
    background: none;
}

a {
    color: black;
    text-decoration: none;
}
